<nav>
    <div class="nav-wrapper">
        <a href="/" class="left flow-text logo">Ars Scraper</a>
        <ul id="nav-mobile" class="left hide-on-small">
            <li class="{{#if home}}active{{/if}}"><a href="/">Home</a></li>
            <li class="{{#unless home}}active{{/unless}}"><a href="/saved">Saved</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-small">
            <li><button id="get-articles" class="waves-effect waves-light btn">Get New Articles</button></li>
            <li><button id="drop-articles" class="waves-effect waves-light btn">Clear All Articles</button></li>
        </ul>
    </div>
</nav>
<div class="image-container valign-wrapper">
        <div class="title center">
            {{#if home}}
            <h3>Ars Technica<h3>
            <h4>Screen Scraper</h4>
            {{else}}
            <h3>Ars Technica<h3>
            <h4>Saved Articles</h4>
            {{/if}}
        </div>
    <img id="splash-img" src="assets/images/newspaper.jpg" alt="newspaper photo">
</div>
<div class="container">
    <div class="row "section"">
        {{#if home}}
            {{#each this}}
                {{#unless this.saved}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                            <img class="responsive-img" src="{{this.image}}">
                            </div>
                            <div class="card-content">
                            <a target="_blank" href="{{this.url}}"><strong>{{this.title}}</strong></a>
                            <p>{{this.subHeadline}}</p>
                            </div>
                            <div class="card-action center">
                                <a data-id="{{this._id}}" class="save waves-effect waves-light btn"><i class="material-icons left">add_circle</i>Save Article</a>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        {{else}}
            {{#each this}}
                {{#if this.saved}}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                            <img class="responsive-img" src="{{this.image}}">
                            </div>
                            <div class="card-content">
                            <a target="_blank" href="{{this.url}}"><strong>{{this.title}}</strong></a>
                            <p>{{this.subHeadline}}</p>
                            </div>
                            <div class="card-action">
                                <div class="row center">
                                    <a data-id="{{this._id}}" class="delete waves-effect waves-light btn">Delete From Saved</a>
                                </div>
                                <div class="row center">
                                    <a data-id="{{this._id}}" class="waves-effect waves-light btn modal-trigger" href="#modal1">Article Notes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    </div>
</div> 
<div id="modal1" class="modal">
    <div class="modal-content center">
        <h5 class="section">Notes For Article: <span id="article-id"></span></h5>
        <div class="row">
            <ul id="notes" class="collection z-depth-1"></ul>
        </div>
        <div class="row">
            <div class="col s12"><h5>Enter New Note</h5></div>
        </div>
        <form id="text" class="row z-depth-1 valign-wrapper">
            <div class="col s9">
                <input id="textBox" type="text" class="validate">
            </div>
            <div class="col s3">
                <button id="savenote" class="btn waves-effect waves-light" type="submit" name="action">Save
                    <i class="material-icons right">save</i>
                </button>
            </div>
        </form>
        
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>


